html {

background-color: #223344;

}

body {
  padding-top: 70px; 
  background-color: #ccddee;
}

#mainRow {

  margin-top: 150px;
  padding: 10px;
}

.questionNumber {
  text-shadow: 4px 4px 10px #bb99ff;
}

.form-group {
  border: 1px solid white;
  box-shadow: 2px 2px 20px white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #aabbcc;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee6ff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #110033;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#q4Label {
  border-radius: 5px;
  padding: 5px;

}

.btn-primary, .btn-success, .btn-danger, .btn-Default, .btn-info, .btn-warning{
  box-shadow: 3px 3px 3px black;
}

.btn-Default:hover {
  background-color: #ccddee;
}

#coffeeIntake {
/*  background-color: #4d2600;*/
/*  background-image: url("https://s24.postimg.org/hzce4t379/Coffee_Beans.jpg");*/
/*  color: white;
*/  padding-bottom: 10px;
  im
}

#eq1a,
#eq1b,
#eq1c {
  background-color: #bbccdd;
  border-radius: 10px;
  border: none;

}

.btn {
  border-radius: 20px;
}

.img {
    display: block;
    margin: auto;
    width: 50%;
}


.well {
  background-color: #556677;
  border-radius: 10px;
  color: black;
}

#displayWell {
  border: none; 
  box-shadow: 2px 2px 30px #112233;
}

