html {

background-color: #223344;


}


body {
padding-top: 85px;
opacity: 0.85;
background-color: #e6ccff;
border-radius: 10px;
box-shadow: 0px 0px 15px 5px white;
}





.jumbotron {
margin: 5px;
background-color: #aabbcc;
box-shadow: 1px 1px 20px 5px #223344;
margin-bottom: 20px;
}

.jumbotron > .container {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}




.btn-primary {
  font-weight: 500;
  padding: 20px;
}


.col-md-4 {
    padding: 5px;
}

.questionNumber {
  text-shadow: 4px 4px 10px  #bb99ff;
}

.form-group {
  border: 2px solid white;
  box-shadow: 2px 2px 20px white;
  padding: 5px;
  border-radius: 10px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee6ff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #110033;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.form-group {
  padding: 15px;


}


.largerCheckbox {
  transform: zoom(1.5);


}


.row {
  margin: 10px;
}